// start off with a 'normalize' css
@import './normalize';

// Externals ------------------------------------------------------------------
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
// Material design icons
@import url('https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css');

// NOTE: Global styles, these can be in their own include ---------------------
body {
    font-family: 'Open Sans';
    font-size: 14px;
    background: #efefef;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: normal;
}

p {
  margin: 0;
}

::-moz-placeholder,
:-moz-placeholder,
::placeholder {
  font-style: italic;
}

// NOTE: utilties canb e their own file ---------------------------------------
.u-mt-10 {
  margin-top: 10px;
}

.u-mr-10 {
  margin-right: 10px;
}

.u-ml-10 {
  margin-left: 10px;
}

.u-text-center {
  text-align: center;
}


// NOTE: Link types can be in their own file ----------------------------------
a {
  text-decoration: none;
  color: #222;
}

a:hover {
  color: #888;
}

a:active {
  color: #000;
}

a.mod-back {
  font-size: .8rem;
  color: #e16c3b;
}

// Component/View imports -----------------------------------------------------
@import '../components/games/Header';

@import '../components/games/GamesTable';

@import '../components/games/Loading';
@import '../components/games/GameList';
@import '../components/games/GameView';